<section class="section dark-bg">
  <div class="container">
    <div class="row">
      
      <div class="col-md-offset-2 col-md-8">
        <div class="section-header">
          <h2 class="smt"><span>Our Events</span></h2>
          </div>
      </div>
      
      <div class="col-md-4">
        <div class="services-box">
          <div class="service-info">
            <img src="http://placehold.it/350x200" class="img-response margin-bottom" />
            <h4>Nodebots</h4>
            <p>JavaScript + Robots? Yes please.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <div class="service-info">
            <img src="http://placehold.it/350x200" class="img-response margin-bottom" />
            <h4>Space City JS</h4>
            <p>Space City JS is a conference in Houston focused on the rigor of JavaScript and the web platform.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <div class="service-info">
            <img src="http://placehold.it/350x200" class="img-response margin-bottom" />
            <h4>Tech-sas</h4>
            <p>Working with the Iron Yard, we help teach people how to code a website in a day.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
