<section id="services" class="section">
      <div class="container">
          <div class="row">
             <!--Start heading-->
            <div class="col-md-offset-2 col-md-8">
                 <div class="section-header">
                     <h2 class="smt"><span>Our Events</span></h2>
                 </div>
             </div>
             <!--End heading-->
            <!-- Services #1-->
             <div class="col-md-4">
                 <div class="services-box">
                     <div class="service-info">
                        <h4>houston.js</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non blandit nibh. Sed eget tortor tincidunt.</p>
                     </div>
                 </div>
             </div>

            <!-- Services #2-->
             <div class="col-md-4">
                 <div class="services-box">
                     <div class="service-info">
                        <h4>LearnerJS</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non blandit nibh. Sed eget tortor tincidunt.</p>
                     </div>
                 </div>
             </div>

            <!-- Services #3-->
             <div class="col-md-4">
                 <div class="services-box">
                     <div class="service-info">
                        <h4>Ember Houston **COMING SOON**</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non blandit nibh. Sed eget tortor tincidunt.</p>
                     </div>
                 </div>
             </div>
          </div> <!--/row-->
      </div> <!--/container-->
</section>
