<section class="section">
  <div class="container">

    <div class="row">

      <div class="col-md-offset-2 col-md-8">
        <div class="section-header">
          <h2 class="smt"><span>Our Groups</span></h2>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="images/group1.jpeg" class="img-responsive" />
      </div>
      <div class="col-md-4">
        <img src="images/group4.jpeg" class="img-responsive" />
      </div>
      <div class="col-md-4">
        <img src="images/group3.jpeg" class="img-responsive" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="services-box">
          <div class="service-info">
            <h4>houston.js</h4>
            <p>The standard fare of awesome JavaScript talks ranging from client-side frameworks to Node.js backends.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <div class="service-info">
            <h4>LearnerJS</h4>
            <p>LearnerJS seeks to bridge the gap between writing JavaScript code and writing GOOD JavaScript code.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="services-box">
          <div class="service-info">
            <h4>Ember Houston **COMING SOON**</h4>
            <p>There is a passionate group of Ember lovers in Houston. Soon they will have a place to geek out and discuss the latest Ember news.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
