<!--Start Navigation-->
    <div class="navigation">
      <nav class="navbar navbar-custom navbar-top" role="navigation">
        <div class="container">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">
               houston.js
            </a>
          </div>
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/index.html">About</a>
              </li>
              <li>
                <a href="http://www.spacecityjs.com">Space City JS</a>
              </li>
              <li>
                <a href="http://www.meetup.com/houston-js/">Meetup</a>
              </li>
              <li>
                <a href="/contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <!-- /navbar-collapse -->
        </div>
        <!-- /container -->
      </nav>
    </div>
    <!--End Navigation-->
