<section class="section">
  <div class="container">
    <div class="row">
      <!--Start heading-->
      <div class="col-md-offset-2 col-md-8">
        <div class="section-header">
          <h2 class="smt"><span>Our Ongoing Story</span></h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non blandit nibh. Sed eget tortor tincidunt, auctor sem eget, mollis nisi. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor fusce diam ornare.</p>
      </div>
    </div>
  </div>
</section>
