<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center" style="margin-top: 26px">JavaScript is fun and so is houston.js.</h1>
      </div>
    </div>
  </div>
</section>

<section class="section dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="section-header">
          <h2 class="smt"><span>Our Ongoing Story</span></h2>
        </div>
        <p>In 2011, Kevin Lee and Jonathan Birkholz were giving a Phone Gap talk to various user groups in Houston. During one of the Q&As, Lester poiginantly asked why there wasn't a JavaScript user group in Houston.</p>
        <p>Um... good question. So we started one.</p>
        <p>The group has grown year by year. We have learned a lot from fantastic talks. The Houston JavaScript community has also grown and a network of talented developers has been built.</p>
        
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-md-4">
        <img src="/images/group1.jpeg" class="img-responsive" />
      </div>
      <div class="col-md-4">
        <img src="/images/group4.jpeg" class="img-responsive" />
      </div>
      <div class="col-md-4">
        <img src="/images/group3.jpeg" class="img-responsive" />
      </div>
    </div>
  </div>
</section>
