<html>
<head>
  <link href="css/main.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
  {{> header }}

  <div>
    {{#each news}}
      <h3>{{ title }}</h3>
      {{{ contents }}}
    {{/each}}
  </div>
</body>
</html>
