<html>
<head>
  <title>HoustonJS</title>
  <link href="assets/css/normalize.min.css" type="text/css" rel="stylesheet" />
  <link href="assets/css/main.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <article>
    {{> header }}
    <div>
      {{#each news}}
        <h3>{{ title }}</h3>
        {{{ contents }}}
      {{/each}}
    </div>
  </article>
</body>
</html>
