<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,500,500italic,700,700italic,900,900italic,300' rel='stylesheet' type='text/css'>
  <link href="css/main.min.css" type="text/css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>houston.js</title>
</head>
<body>
  {{> navigation }}

  {{> story }}
  {{> groups }}
  {{> events }}
  {{> team }}

</body>
</html>
