<html>
<head>
  <link href="css/main.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <h1>Test!!!</h1>
  {{ test }}

  <ul>
    {{#each News}}
      <li>
        <a href="{{ url }}">{{ url }} - {{ title }}</a>
      </li>
    {{/each}}
  </ul>
</body>
</html>
